[submodule "submodules/Grounded-Segment-Anything"]
	path = submodules/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "submodules/ObjectClear"]
	path = submodules/ObjectClear
	url = https://github.com/zjx0101/ObjectClear.git
[submodule "submodules/ml-comotion"]
	path = submodules/ml-comotion
	url = https://github.com/apple/ml-comotion.git
[submodule "submodules/Pi3"]
	path = submodules/Pi3
	url = https://github.com/yyfz/Pi3.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/nstar1125/diff-gaussian-rasterization.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn
